<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "LandTrade", root_path, class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>
